.appMain {
    display: grid;
    grid-template: 6.5% 93.5% / 1fr 1fr;   

    width: 100%;
    height: 100%;
    background-color: rgb(15,15,15);
}

.appMain * {
    color: white;
}

.navigationBar {
    grid-area: 1 / 1 / 2 / 3;
}