.notLoggedInMain {
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: start;
}

.signInBox {
    margin-top: 2%;
    height: 15%;
    width: 50%;
    padding: 15px;

    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 15px;

    background-color: rgb(33,33,33);
    border-radius: 20px;
    border: 1px solid rgb(63,63,63);
}

.signInButtonLink {
    text-decoration: none;
}

.signInButtonLink > button {
    color: rgb(92, 164, 248);
}