.menuNormal, .menuExtended {
    height: 100%;
    width: 100%;
}

.menuNormal {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 2%;
    padding: 0% 5%;
}

.menuNormal > button {
    width: 100%;
    height: 10%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    background-color: inherit;
    border-radius: 15px;
}
.menuNormal > button > img {
    width: 50%;
    height: auto;
}

.menuNormal > button:hover {
    background-color: rgb(39,39,39);
}

.menuNormal > button:active {
    background-color: rgb(60,60,60);
}

.menuNormal > #selected {
    font-size: 115%;
    font-weight: bold;
}


.menuExtended {

}