:root {
    --createButtonWidth: 125px;
}

.navigationBarMain {
    width: 100%;
    height: 100%;
    background-color: rgb(15,15,15);
    padding: 0px 15px;
    display: grid;
    grid-template: 1fr / 1fr 2fr 1fr;
}


.leftSection {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    height: 100%;
    justify-content: start;
    align-items: center;
}

button {
    border: none;
    background-color: inherit;
}

.menuButton {
    border-radius: 25px;
    height: 60%;
    cursor: pointer;
}

.menuButton:hover {
    background-color: rgb(63,63,63);
}

.menuButton:active {
    background-color: rgb(82,82,82);
}

.menuButton > img {
    height: 100%;
    width: auto;
}
.homeLink {
    margin-left: 10px;
    width: 23%;
    height: auto;
}
.logoButton {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
    cursor: pointer;
}

.logoButton > img {
    height: 100%;
    width: auto;
}

.middleSection {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.searchBar {
    border: 2px solid rgb(48,48,48);
    width: 70%;
    height: 80%;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    background-color: rgb(18,18,18);
    color: rgb(117,117,117);
    font-size: 110%;
    padding: 0% 2.5%;
}
.searchBar:focus {
    border: 2px solid rgb(50,97,179);
    outline: none;
    color: white;
}

.searchButton {
    border: 2px solid rgb(48,48,48);
    border-left: none;
    background-color: rgb(34,34,34);
    height: 80%;
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    cursor: pointer;
}

.searchButton > img {
    height: 100%;
    width: auto;
}

.rightSection {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loggedIn {
    
}



.loggedInBar {

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 15px;
    column-gap: 7%;
}

.uploadVideoButtonLink {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.uploadVideoButton {
    height: 80%;
    width: 100%;
    padding: 5%;
    border-radius: 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 120%;
    background-color: rgb(39,39,39);
}

.uploadVideoButton:hover {
    background-color: rgb(63,63,63);
}

.uploadVideoButton:active {
    background-color: rgb(82,82,82);
}

.uploadVideoButton > img {
    height: 135%;
    width: auto;
}

.profileIcon {
    width: 17%;
}


.profileIcon > img {
    width: 100%;
    height: auto;
    transform: scale(1.1);
    cursor: pointer;
}

.notLoggedIn {
    width: 100%;   
    height: 100%;
}

.signInButtonLink {
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
}

.signInButton {
    border: 1px solid rgb(87,87,87);
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    column-gap: 5px;
    font-size: 150%;
    font-weight: bold;
    padding: 7px 10px;
    cursor: pointer;
}

.signInButton:hover {
    background-color: rgb(39,39,39);
}

.signInButton:active {
    background-color: rgb(61,61,61);
}

.signInButton > img {
    height: 100%;
}