.appMain {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: rgb(15,15,15);
}
.normal {
    grid-template: 6.5% 93.5% / 5.4% 94.6%; 

}
.displayExtendedMenu {
    grid-template: 6.5% 93.5% / 12.4% 87.6%; 
    
}
.appMain * {
    color: white;
}

.navigationBar {
    grid-area: 1 / 1 / 2 / 3;
}

.menu {
    grid-area: 2 / 1 / 3 / 2;
}

.mainContent {
    grid-area: 2 / 2 / 3 / 3;
}